@import "src/styles/colors";
@import "src/styles/variables";
@import "src/styles/mixins";

.notification {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  pointer-events: all;
  width: 100%;
  border-radius: $border-radius;
  background-color: $secondary-bg-color;
  @include box-shadow();
}

.notificationText {
  margin-left: 10px;
}

.notificationBody {
  display: flex;
  align-items: center;
}

.closeIcon {
  cursor: pointer;
}
