.notificationContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  z-index: 1200;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}
