@import "src/styles/colors";
@import "src/styles/mixins";
@import "src/styles/variables";

.repository {
  @include box-shadow();
  padding: 15px;
  border-radius: $border-radius-2;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  background-color: $secondary-bg-color;
  @include breakpoint-large() {
    width: 100%;
    min-width: 250px;
  }
}

.starsIndicator {
  display: flex;
  align-items: center;
}

.icon.icon {
  margin-right: 3px;
  font-size: 13px;
}
