@import 'src/styles/colors';
@import 'src/styles/mixins';

.section {
  padding: $global-padding-small;
  background: $secondary-bg-color;
  @include box-shadow();

  @include breakpoint-large() {
    padding: $global-padding-small $global-padding-large;
  }
}
