@import "src/styles/variables";
@import "src/styles/mixins";

.imageContainer {
  width: 80px;
  height: 80px;
  border-radius: $border-radius-2;
  @include breakpoint-large() {
    flex-shrink: 0;
  }
}

.image {
  width: 100%;
  border-radius: $border-radius-2;
}
